<h1>New card</h1>

<%= form_with model: @card, url: cards_path(current_account.slug) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.rich_text_area :body %>
  </div>

  <%= f.submit "Create card", class: "btn btn-primary" %>
  <%= link_to "Cancel", account_root_path(current_account.slug), class: "btn" %>
<% end %>
