<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Wun" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Wun">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "lexxy" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <strong><%= link_to "Wun", root_path %></strong>
      <% if current_user %>
        <span><%= current_user.name %></span>
        <% if current_account %>
          <span>(<%= current_account.name %>)</span>
          <% if current_user.manager_of?(current_account) %>
            <%= link_to "Dashboard", dashboard_path(current_account.slug) %>
            <%= link_to "Rules", rules_path(current_account.slug) %>
          <% end %>
        <% end %>
        <%= button_to "Sign out", destroy_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
      <% end %>
    </nav>

    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
